<a href="https://colab.research.google.com/github/imhyunho99/2023-1--Advanced_python/blob/main/pylib_017~024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**04 Math and Number control**


**4-1 math module**

* math.gcd() 최대 공약수

* math.lcm() 최대 공배수

https://docs.python.org/ko/3/library/math.html

In [1]:
import math

GCD = math.gcd(60, 100, 80) #2개의 인자에서 3.9 n개의 인자로 변경

LCM = math.lcm(15, 25)

print("GCD:",GCD)

print("LCM:",LCM)
#최대 공약수와 최소 공배수

GCD: 20
LCM: 75


**4-2 decimal module**

* decimal..Decimal()  정밀한 소숫점 계산을 위함 decimal 객체

  정밀도 향상을 위한 도구

decimal - 십진 고정 소수점 및 부동 소수점 산술

 https://docs.python.org/ko/3/library/decimal.html

부동 소수점 산술: 문제점 및 한계 

https://docs.python.org/ko/3/tutorial/floatingpoint.html

In [2]:
from  decimal import Decimal

print("0.1*3 == 0.3 :",(0.1*3) == 0.3) #부동 소숫점의 한계

te_1 = Decimal('0.1') * 3
te_2 = Decimal('0.3')

print(te_1 == te_2) #부동 소숫점 문제 해결

print(float(Decimal('1.2') - Decimal('0.1')) == 1.1) #float로 형변환, 산술연산 지원,

0.1*3 == 0.3 : False
True
True

**4-3 fractions module**

유리수의 순환자리처리/ 분수의 처리




*   F Object.numerator
*   F Object.denominator



https://docs.python.org/ko/3/library/fractions.html

In [3]:
from fractions import Fraction

a = Fraction(1, 5)

result = a+Fraction(2, 5)

print(result) # 분수
print(result.numerator) #분자
print(result.denominator) #분모

print("Decimal obj to Fraction: ",Fraction(te_1))

3/5
3
5
Decimal obj to Fraction:  3/10

**4-4 Random module**

*   random.randint()
*   random.sample()
*   random.choice()
*   random.shiffle()


 https://docs.python.org/ko/3/library/random.html

In [4]:
import random

result = []
while len(result) < 6:
    num = random.randint(1, 45)  # 1~45 사이의 숫자중 임의의 숫자 생성
    if num not in result:  # 중복 숫자 뽑기 방지
        result.append(num)

print(result)  

result_sample = random.sample(result, len(result))
result_choice = random.choice(result_sample)
random.shuffle(result)

print("result_smaple:", result_sample)
print("Choice 1:", result_choice)

print("shuffle:", result)

[39, 22, 2, 34, 41, 15]
result_smaple: [34, 15, 22, 41, 39, 2]
Choice 1: 22
shuffle: [39, 34, 2, 41, 15, 22]

**4-5 statistics module**

*   statistics.mean()

*   statistics.median()


https://docs.python.org/ko/3/library/statistics.html

In [5]:
import statistics

marks = [78, 93, 99, 95, 51, 71, 52, 43, 81, 78]

mean = statistics.mean(marks) #평균값값

median = statistics.median(marks) #중앙값

print("mean:", mean)
print("median:", median)

mean: 74.1
median: 78.0

###**05 Functional programing**


함수형 프로그래밍

자료 처리를 수학적 함수의 계산으로 취급하고 상태와 가변 데이터를 멀리하는 프로그래밍 패러다임의 하나이다.

**5-1 itertools module**

*    itertools.cycle()
*    next()
*    itertools.accumulate()


https://docs.python.org/ko/3/library/itertools.html#itertools

In [ ]:
import itertools

emp_pool = itertools.cycle(['김은경', '이명자', '이성진']) # 반복 가능한객체를 순서대로 무한히 호출
for i in range(5): 
  print(next(emp_pool))

김은경
이명자
이성진
김은경
이명자

In [ ]:
monthly_income = [1161, 1814, 1270, 2256, 1413, 1842, 2221, 2207, 2450, 2823, 2540, 2134]

acc = []
total = 0
for i in monthly_income:
  total += i
  acc.append(total) 
print(acc) #iter를 안쓰고 누적 합계를 구하기

result = list(itertools.accumulate(monthly_income))#누적 합계
print(itertools.accumulate(monthly_income))
for i in result:
  print("total income:", i)

result = list(itertools.accumulate(monthly_income, max)) #최대치
print(result)

[1161, 2975, 4245, 6501, 7914, 9756, 11977, 14184, 16634, 19457, 21997, 24131]
<itertools.accumulate object at 0x7f8a54355200>
total income: 1161
total income: 2975
total income: 4245
total income: 6501
total income: 7914
total income: 9756
total income: 11977
total income: 14184
total income: 16634
total income: 19457
total income: 21997
total income: 24131
[1161, 1814, 1814, 2256, 2256, 2256, 2256, 2256, 2450, 2823, 2823, 2823]