<a href="https://colab.research.google.com/github/imhyunho99/2023-1--Advanced_python/blob/main/pylib_008~016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**03 variable Data control**


**3-3 collections module**

3-3-2 namedyuple
*   collections.namedtuple()

https://docs.python.org/3/library/collections.html

In [ ]:
from collections import namedtuple

data = [
  ('홍길동', 23, '01099990001'),
  ('김철수', 31, '01099991002'),
  ('이영희', 29, '01099992003'),
]

Employee = namedtuple('Employee', 'name, age, cellphone') #tuple은 약간 상수느낌, 한번 초기화한 값은 바꿀 수 없다. *immutable*

#emp.name = '박길동'
#Traceback (most recent call last):
#File "<stdin>", line 1, in <module>
#AttributeError: can't set attribute

#data = [Employee(emp[0], emp[1], emp[2]) for emp in data] namedtuple에서는 리스트 내포 보다는 _make가 조금 더 섹시한 방법이다.

data = [Employee._make(emp) for emp in data]

print(data[0], type(data[0]))

emp = data[0]
emp = emp._asdict()
print(emp, type(emp)) #namedtuple dict 변환

emp = data[0]
new_emp = emp._replace(name="박길동")
new_emp
Employee(name='박길동', age=23, cellphone='01099990001') #tuple obj의 값을 변경하려면 replace 사용. 근데 값이 변경된다는 느낌보다는 새로운 객체를 만들고 대체하는 느낌낌

Employee(name='홍길동', age=23, cellphone='01099990001') <class '__main__.Employee'>
{'name': '홍길동', 'age': 23, 'cellphone': '01099990001'} <class 'dict'>

Employee(name='박길동', age=23, cellphone='01099990001')


**3-3 collections module**

3-3-3 Counter

*   collections.Counter()

https://docs.python.org/3/library/collections.html

In [ ]:
from collections import Counter
import re

data = """
산에는 꽃 피네.
꽃이 피네.
갈 봄 여름없이
꽃이 피네.

산에
산에
피는 꽃은
저만치 혼자서 피어있네.

산에서 우는 새여
꽃이 좋아
산에서
사노라네.

산에는 꽃지네
꽃이 지네.
갈 봄 여름 없이
꽃이 지네.
"""

words = re.findall(r'\w+', data) #단어 단위 파싱
print("words: ",words)

counter = Counter(words)
print(counter, type(counter))
print(counter.most_common(3),type(counter.most_common(3)))# 몇등까지 보여줄까?

words:  ['산에는', '꽃', '피네', '꽃이', '피네', '갈', '봄', '여름없이', '꽃이', '피네', '산에', '산에', '피는', '꽃은', '저만치', '혼자서', '피어있네', '산에서', '우는', '새여', '꽃이', '좋아', '산에서', '사노라네', '산에는', '꽃지네', '꽃이', '지네', '갈', '봄', '여름', '없이', '꽃이', '지네']
Counter({'꽃이': 5, '피네': 3, '산에는': 2, '갈': 2, '봄': 2, '산에': 2, '산에서': 2, '지네': 2, '꽃': 1, '여름없이': 1, '피는': 1, '꽃은': 1, '저만치': 1, '혼자서': 1, '피어있네': 1, '우는': 1, '새여': 1, '좋아': 1, '사노라네': 1, '꽃지네': 1, '여름': 1, '없이': 1}) <class 'collections.Counter'>
[('꽃이', 5), ('피네', 3), ('산에는', 2)] <class 'list'>


**3-3 collections module**

3-3-3 Counter

*   ccollections.defaultdict()

https://docs.python.org/3/library/collections.html

In [ ]:
data = "Life is too short, You need python."

#re와 Counter로 문자 개수 세기
letters = re.findall('[a-zA-Z,.]{1}',data)
print(letters)#단어 단위로 쪼개기

data_dict = Counter(letters)
print(data_dict)
print(dict(data_dict))# 이건 왜 되지?
#data_dict = data_dict._asdict() 이렇게 dict형으로는 교체 불가

['L', 'i', 'f', 'e', 'i', 's', 't', 'o', 'o', 's', 'h', 'o', 'r', 't', ',', 'Y', 'o', 'u', 'n', 'e', 'e', 'd', 'p', 'y', 't', 'h', 'o', 'n', '.']
Counter({'o': 5, 'e': 3, 't': 3, 'i': 2, 's': 2, 'h': 2, 'n': 2, 'L': 1, 'f': 1, 'r': 1, ',': 1, 'Y': 1, 'u': 1, 'd': 1, 'p': 1, 'y': 1, '.': 1})
{'L': 1, 'i': 2, 'f': 1, 'e': 3, 's': 2, 't': 3, 'o': 5, 'h': 2, 'r': 1, ',': 1, 'Y': 1, 'u': 1, 'n': 2, 'd': 1, 'p': 1, 'y': 1, '.': 1}

In [ ]:
data = "Life is too short, You need python."

d = dict()
for c in data:
    if c not in d:
        d[c] = 0
    d[c] += 1

print(d)

#0으로 초기화, 있다면 +1, 방어적 코드

{'L': 1, 'i': 2, 'f': 1, 'e': 3, ' ': 6, 's': 2, 't': 3, 'o': 5, 'h': 2, 'r': 1, ',': 1, 'Y': 1, 'u': 1, 'n': 2, 'd': 1, 'p': 1, 'y': 1, '.': 1}

In [ ]:
from collections import defaultdict

data = "Life is too short, You need python."

d = defaultdict(int)
for c in data:
    d[c] += 1
d = dict(d)
print(d)
print(type(d))

{'L': 1, 'i': 2, 'f': 1, 'e': 3, ' ': 6, 's': 2, 't': 3, 'o': 5, 'h': 2, 'r': 1, ',': 1, 'Y': 1, 'u': 1, 'n': 2, 'd': 1, 'p': 1, 'y': 1, '.': 1}
<class 'dict'>


**3-4 heapq module**
우선 순위 큐와 
최소 힙: 모든 부모 노드가 자식보다 작거나 같은 값을 갖는 완전 이진 트리

* heapq.heappush()
* heapq.heappop()  
* heapq.heapify()
* heapq.nsmallest()


https://docs.python.org/ko/3/library/heapq.html

In [ ]:
import heapq

data = [
    (12.23, "강보람"),
    (12.31, "김지원"),
    (11.98, "박시우"),
    (11.99, "장준혁"),
    (11.67, "차정웅"),
    (12.02, "박중수"),
    (11.57, "차동현"),
    (12.04, "고미숙"),
    (11.92, "한시우"),
    (12.22, "이민석"),
]

h = []  # 힙 생성

for score in data:
    heapq.heappush(h, score)  # 힙에 데이터 저장

for i in range(3):
    print(heapq.heappop(h))  # 최솟값부터 힙 반환

print(heapq)

heapq_data = heapq.heapify(data) #완전한 소팅을 보장하지 않는다. 다만 힙이 요구하는 규칙은 보장한다. 부모 노드의 값<자식노드의 값
for i in range(3):
    print(heapq.heappop(data))  # 최솟값부터 힙 반환
print(type(heapq_data))

print(heapq.nsmallest(3, data)) #가장 작은 n개의 노드

(11.57, '차동현')
(11.67, '차정웅')
(11.92, '한시우')
<module 'heapq' from '/usr/lib/python3.9/heapq.py'>
(11.57, '차동현')
(11.67, '차정웅')
(11.92, '한시우')
<class 'NoneType'>
[(11.98, '박시우'), (11.99, '장준혁'), (12.02, '박중수')]

**3-5 pprint module**

Json을 예쁘게 출력
pretty print

* heapq.heappush()
* heapq.heappop()  
* heapq.heapify()
* heapq.nsmallest()

In [ ]:
import pprint

result = {'userId': 1, 'id': 1, 'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}

pprint_result = pprint.pprint(result)

{'body': 'quia et suscipit\n'
         'suscipit recusandae consequuntur expedita et cum\n'
         'reprehenderit molestiae ut ut quas totam\n'
         'nostrum rerum est autem sunt rem eveniet architecto',
 'id': 1,
 'title': 'sunt aut facere repellat provident occaecati excepturi optio '
          'reprehenderit',
 'userId': 1}

**3-5 bisect module**

이진 트리 탐색

* bisect.bisect() 
* bisect.bisect_left()
* bisect.insort()


https://docs.python.org/ko/3/library/bisect.html

In [ ]:
import bisect

result_bisect = []
score_list = [33, 99, 77, 70, 89, 90, 100]


#if로의 구현
#for score in score_list:
#  if score>=90:
#    result.append('A')
#  elif score >= 80 and score < 90:
#    result.append('B')
#  elif score >= 70 and score < 80:
#    result.append('C')
#  elif score >= 60 and score < 70:
#    result.append('D')
#  else
#    result.append('F')

for score in score_list:#bisect=bisect_right는 이상. 포함일때 사용
    pos = bisect.bisect([60, 70, 80, 90], score)   # 점수를 삽입할 위치 반환, 정렬된 리스트에 올바른 자리에 삽입
    print("pos:", pos)
    grade = 'FDCBA'[pos]
    result_bisect.append(grade)

print(result_bisect)

result_left = []#bisect_left는 초과일때 사용
for score in score_list:
    pos = bisect.bisect_left([60, 70, 80, 90], score)
    print("pos:", pos)
    grade = 'FDCBA'[pos]
    result_left.append(grade)

print(result_left)


a = [60, 70, 80, 90]
bisect.insort(a, 85)
print(a) #정렬된 배열에 삽입할 수 있는 자리에 알맞게 값을 추가.

pos: 0
pos: 4
pos: 2
pos: 2
pos: 3
pos: 4
pos: 4
['F', 'A', 'C', 'C', 'B', 'A', 'A']
pos: 0
pos: 4
pos: 2
pos: 1
pos: 3
pos: 3
pos: 4
['F', 'A', 'C', 'D', 'B', 'B', 'A']
[60, 70, 80, 85, 90]

**3-6 enum module**

서로 관련이 있는 여러 개의 상수 집합을 정의할 때 사용

enumerate generator

https://docs.python.org/ko/3/library/enum.html

In [ ]:
#가독성이 떨어지고 쓸데 없이 긴 코드, 특히 weekday같이 의미는 없지만 사용하는 매직 넘버들을 줄잉면 코드 가독성이 증가한다.
#from datetime import date


#def get_menu(input_date):
#    weekday = input_date.isoweekday()  # 1:월요일, 2:화요일, ... , 7: 일요일
#    if weekday == 1:
#        menu = "김치찌개"
#    elif weekday == 2:
#        menu = "비빔밥"
#    elif weekday == 3:
#        menu = "된장찌개"
#    elif weekday == 4:
#        menu = "불고기"
#    elif weekday == 5:
#        menu = "갈비탕"
#    elif weekday == 6:
#        menu = "라면"
#    elif weekday == 7:
#        menu = "건빵"
#    return menu


#print(get_menu(date(2023, 3, 21)))
#print(get_menu(date(2023, 3, 23)))

from datetime import date
from enum import IntEnum


class Week(IntEnum): #enum은 뭐랄까... 의미는 딱히 없지만 이름은 필요한 상수 세트를 정의하는데 좋은듯. 짧고 간단한 코드에서는 크게 힘을 발하지 못하지만 길어질수록 가독성이 올라갈듯.
    MONDAY = 1
    TUESDAY = 2
    WEDNESDAY = 3
    THURSDAY = 4
    FRIDAY = 5
    SATURDAY = 6
    SUNDAY = 7


def get_menu(input_date):
    menu = {
        Week.MONDAY: "김치찌개",
        Week.TUESDAY: "부대찌개",
        Week.WEDNESDAY: "된장찌개",
        Week.THURSDAY: "뼈해장국",
        Week.FRIDAY: "순대국",
        Week.SATURDAY: "순두부찌개",
        Week.SUNDAY: "들깨칼국수",
    }
    return menu[input_date.isoweekday()]


print(get_menu(date(2023, 1, 1)))
print(get_menu(date(2023, 4, 5)))

for week in Week:
   print("{}:{}".format(week.name, week.value))#Enum class의 순회 가능
print(type(Week))
print(Week)

들깨칼국수
된장찌개
MONDAY:1
TUESDAY:2
WEDNESDAY:3
THURSDAY:4
FRIDAY:5
SATURDAY:6
SUNDAY:7
<class 'enum.EnumMeta'>
<enum 'Week'>

**3-7 graphlib.TopologicalSorter module**

위상 정렬에 사용하는 클래스
위상정렬이란?
https://ko.wikipedia.org/wiki/%EC%9C%84%EC%83%81%EC%A0%95%EB%A0%AC 

A=>B=>C

#순환하지 않아야한다.
* 
*   
* 
*

In [ ]:
from graphlib import TopologicalSorter

ts = TopologicalSorter()


# 규칙1
ts.add('영어 중급', '영어 초급')  # 영어 중급의 선수과목은 영어 초급
ts.add('영어 고급', '영어 중급')  # 영어 고급의 선수과목은 영어 중급

# 규칙2
ts.add('영어 문법', '영어 중급')  # 영어 문법의 선수과목은 영어 중급
ts.add('영어 고급', '영어 문법', '영어 중급')  # 영어 고급의 선수과목은 영어 문법과 영어 중급, 선행 조건을 여러개 처리할 수도 있음

# 규칙3
ts.add('영어 회화', '영어 문법')  # 영어 회화의 선수과목은 영어 문법

# 순환을 만들면
#ts.add('영어 초급', '영어 중급', '영어 문법') # 영어 고급의 선수 과목은 영어 중급과 영어 문법
#CycleError: ('nodes are in a cycle', ['영어 초급', '영어 중급', '영어 초급']) 

result = ts.static_order()
print(result)
print(type(result))
print(list(result))  # 위상 정렬한 결과를 출력

<generator object TopologicalSorter.static_order at 0x7ff1a3712ba0>
<class 'generator'>
['영어 초급', '영어 중급', '영어 문법', '영어 고급', '영어 회화']